/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #DAD7C7;
}


#main_container{
	margin:0 auto;    /*why does this move div to the middle? */
	background: #e6e6e6; /* Old browsers */
background: -moz-linear-gradient(top,  #e6e6e6 0%, #b8b8b8 100%, #2989d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#b8b8b8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6e6e6 0%,#b8b8b8 100%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6e6e6 0%,#b8b8b8 100%,#2989d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6e6e6 0%,#b8b8b8 100%,#2989d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6e6e6 0%,#b8b8b8 100%,#2989d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */

	padding: 3px;
	width: 360px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: auto;
}

#main_container label {
	font: bold 1.3em Arial;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #A61C1C;
}

#main_container p {
	margin: 0;
	line-height: 1em;
	padding-bottom:5px;
}

#container_border{
	margin: 1px;
	background: #BF996B;
	border-radius: 10px;
}


#calcarea{
	float:left;
	width: 40%;
}

#container_border h1{
	text-align: center;
	font-size:2em;
	color:black;
	padding: 10px;
	font-size: 30px;
}


.aidentry{
	width: 90%;
	padding-left: 10px;
}


#bio{
	width:100%;
}

.bio{
	width: 50%;
	padding: 2px 2px;
}

.paste{
	width: 75%;
}


.p6{
	margin: 5px 5px;
}

.aidInput{
	width: 100%;
}

.amount{
	width:25%;
}

.typeofAid, .amount{
	background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEEEEE), to(#FFF) );
	background: -moz-linear-gradient(top, #FFF, #EEEEEE 1px, #FFF 25px);
}

.typeofAid{
	width: 35%;
}

/* results here */

#results{
	float:left;
	display:none;
	padding-left:15px;
}

.changedAid{
	background-color: #FFE600;
	color: #3D3328;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 5px;
	clear:both;
}

.changedAid:hover{
	background: #eeeDe6;
}

.changedAid p {
	padding:10px 10px;
}

.changedAid h3{
	margin: 5px 5px;
	padding: 5px 5px;
}

/*These divs are presentation of jscript calcs in hmtl*/
	




#cost{
	border-radius: 10px;
}

.updated{
	background: #DAD7C7;
	color: #3D3328;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 5px;
	clear:both;
}

.updated:hover{
	background: #eeeDe6;
}

.updated p {
	padding:10px 10px;
}

.updated h3{
	margin: 5px 5px;
	padding: 5px 5px;
}

#footer{
	clear:both;
}


/*CSS3 keyframes 0% (start) to 100% (end) */
@-webkit-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-moz-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-o-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}