/* @override 
	http://iviewsource.com/exercises/ajax/mystyle.css */
	

body {
	background: #DAD7C7;
}


#main_container{
	margin:0 auto;    /*why does this move div to the middle? */
	background: #BF996B;
	padding: 10px;
	width: 50%;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	height: auto;
}

#main_container label {
	font: bold 1.3em Arial;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #A61C1C;
}

#main_container p {
	margin: 0;
	line-height: 1em;
	padding-bottom:5px;
}


#calcarea{
	float:left;
	width: 30%;
}


.aidentry{
	width: 90%;
	padding-left: 10px;
}


#bio{
	width:100%;
}

.bio{
	width: 50%;
	padding: 2px 2px;
}

.p6{
	margin: 5px 5px;
}

.aidInput{
	width: 100%;
}

.amount{
	width:25%;
}

.typeofAid, .amount{
	background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEEEEE), to(#FFF) );
	background: -moz-linear-gradient(top, #FFF, #EEEEEE 1px, #FFF 25px);
}

.typeofAid{
	width: 35%;
}



/* results here */

#results{
	float:left;
	width:30%;
	display:none;
}

/*These divs are presentation of jscript calcs in hmtl*/
	


#results{
	float:right;
}

#cost{
	border-radius: 10px;
}

.updated{
	background: #DAD7C7;
	color: #3D3328;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 5px;
}

.updated:hover{
	background: #eeeDe6;
}

.updated p {
	padding:10px 10px;
}

.updated h3{
	margin: 5px 5px;
	padding: 5px 5px;
}

#footer{
	clear:both;
}


/*CSS3 keyframes 0% (start) to 100% (end) */
@-webkit-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-moz-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-o-keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@keyframes myanim{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}